@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f3f1ed;
}

@keyframes dash-flow {
  to {
    stroke-dashoffset: -16;
  }
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
